*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 90vh;
    background-color: #efeff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 300px;
    height: 450px;
    background-color: #1E2227;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
}

form input{
    height: 120px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    color: #fff;
    background-color: black;
    text-align: right;
    pointer-events: none;
}

.buttons{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-yellow{
    background-color: yellow;
}

.btn-yellow:hover{
    background-color: rgb(247, 247, 152);
}

.btn-grey{
    background-color: grey;
}

.btn-grey:hover{
    background-color: rgb(218, 192, 192);
}

#equals{
    background-color: green;
}

#equals:hover{
    background-color: rgb(13, 145, 221);
}

.btn-clear{
    background-color: red;
}

.btn-clear:hover{
    background-color: rgb(250, 36, 36);
}



@media (max-width: 600px) {
    body{
        background-color: #1E2227;
        max-height: 880px;
    }
    .calculator{
        width: 100%;
        height: 100%;
        margin: 4px;
    }
}

























































































































































































































































































